body {
  background-color: #b3d4ff;
  font-family: Poppins, verdana;
  margin: 0;
}

h1   {
    color: blue;
}

.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navigation-bar li {
  float: left;
}

.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.main {
  margin-left: 20px;
  margin-right: 20px;
}

.image-caption {
  margin-bottom: 0;
}

.cat-getting-pet {
  height: 285px;
  width: 285px;
  background-image: url("assets/cat-1.webp");
  border: 0;
}

.cat-getting-pet:active {
  background-image: url("assets/cat-2.webp");
}

.images {
  display: flex;
}